<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
	<meta name="keywords" content="作杰,zuojie,pengzuojie,zuojiepeng,彭作杰,{{ page.title }}">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/stylesheets/styles.css?3=o">
    <link rel="stylesheet" href="/stylesheets/pygment_trac.css">
    <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
	-->
    <!--<script src="/javascripts/jquery.min.js"></script>-->
    <script src="/javascripts/main.js"></script>
    <!--[if lt IE 9]>
      <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-44240841-1', 'zuojie.github.io');
  ga('send', 'pageview');

</script>
  </head>
  <body>

      <header>
        <h1>"竹杖芒鞋轻胜马， 一蓑烟雨任平生"</h1>
        <p>好像云淡风轻，其实凡心最重。比如楼上</p>
      </header>

      <div id="banner">
        <span id="logo"></span>
        <a href="http://zuojie.github.io/" class="button fork_home"><strong>Home</strong></a>
        <a href="https://github.com/zuojie?tab=repositories" target="about:blank" class="button fork_git"><strong>Fork Me</strong></a>
        <a href="/zuojie_cv.html" target="about:blank" class="button fork_cv"><strong>CV</strong></a>
      </div><!-- end banner -->

    <div class="wrapper">
      <nav>
        <ul></ul>
      </nav>
      <section>
	  	{{ content }}
      </section>
      <footer>
	  	<ul>
	  		<li><a href="http://linuxplayer.org/">CuruWong</a></li>
			<li><a href="http://lightxue.com/">薛文庆</a></li>
			<li><a href="http://bigasp.com/">riffjiang</a></li>
			<li><a href="http://www.narutoacm.com/">NARUTOACM</a></li>
			<li><a href="http://crackycat.com/">勇敢的加菲猫</a></li>
			<li><a href="http://flavors.me/pmonkey#d20/wordpress">罕见文艺猿</a></li>
			<li><a href="http://davidzai.blog.163.com/">三鲜</a></li>
			<li><a href="http://www.hhanger.com/">杭航</a></li>
			<li><a href="http://www.matrix67.com/blog/">Matrix67</a></li>
	  	</ul>
        <p><small>Hosted on GitHub Pages &mdash; Theme by <a href="https://twitter.com/michigangraham">mattgraham</a></small></p>
      </footer>
    </div>
    <!--[if !IE]><script>fixScale(document);</script><![endif]-->
    
  </body>
</html>
