{% extends "kktFooterBase.html" %}

{% block title %}致谢{% endblock %}

{% block h1 %}
	致谢
{% endblock %}
{% block body %}
<p>
	感谢<a href="http://bartaz.github.com/" target="_blank">Bartek Szopka</a>大牛出品impress.js，让KKT的<a href="http://127.1:8000/Help" target="_blank">帮助向导</a>显得装13而洋气
</p>
<p>
	感谢<a href="http://ifttt.com/" target="_blank">ifttt</a>简约的网站风格给予的灵感
</p>
<p>
	感谢<a href="http://hhxin.com/forum.php" target="_blank">鸿新网</a>各种实用JS技巧
</p>
<p>
	感谢盗版<a href="http://www.photoshop.com/" target="_blank">Adobe Photoshop 8.0.1 </a>，设计图片好伴侣
</p>
<p>
	感谢永久免费的<a href="http://notepad-plus-plus.org/" target="_blank">notepad++</a>
</p>
<p>
	感谢<a href="http://www.renren.com/235349954?ref=hotnewsfeed&sfet=103&fin=4&ff_id=235349954" target="_blank">litstrong</a>大牛关于acm比赛提醒的原始idea，才有了后续这一系列提醒服务
</p>
<p>
	感谢老婆，在我毕设的时候给我剥的那些瓜子，你的支持力量无穷
</p>
<p>
	感谢母校CUGB长达4年的栽培
</p>
{% endblock %}
	









